@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Mukta';
  font-weight: 400;
  src: url('/static/fonts/Mukta/Mukta-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Mukta';
  font-weight: 700;
  src: url('/static/fonts/Mukta/Mukta-Bold.ttf') format('truetype');
}

* {
  user-select: none;
}

img {
  pointer-events: none;
}

html,
body {
  background-color: #0f172a;
  min-width: 100%;
  min-height: 100%;
}
